doctype html
html.full(lang='en')
  // Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file.
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title QuizWiz
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/style.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body
// gejat van bootstrap showcare, container div




.container.theme-showcase(role='main')

  .jumbotron#admin 
    form
        .form-group.row 
            label.col-xs-2.col-form-label(for='questiontext') Vraagtekst
            input.formcontrol.col-xs-10.admininput#questiontext(type='text')
        .form-group.row
            .col-xs-1 nr
            .col-xs-10 antwoordtekst
            .col-xs-1 goed
        .form-group.row
            label.col-xs-1.col-form-label(for='answertext0') 1
            .col-xs-9
                input.col-xs-9.admininput#answertext0(type='text')
            .col-xs-2
                input.col-xs-2.admininput#correct0(type='checkbox')
        .form-group.row
            label.col-xs-1.col-form-label(for='answertext1') 2
            .col-xs-9
                input.col-xs-9.admininput#answertext1(type='text')
            .col-xs-2
                input.col-xs-2.admininput#correct1(type='checkbox')
        .form-group.row
            label.col-xs-1.col-form-label(for='answertext2') 3
            .col-xs-9
                input.col-xs-9.admininput#answertext2(type='text')
            .col-xs-2
                input.col-xs-2.admininput#correct2(type='checkbox')
        .form-group.row
            label.col-xs-1.col-form-label(for='answertext3') 4
            .col-xs-9
                input.col-xs-9.admininput#answertext3(type='text')
            .col-xs-2
                input.col-xs-2.admininput#correct3(type='checkbox')                                    
        .form-group.row
            .col-xs-10
            .col-xs-2
                button.btn.btn-primary#savebtn(type='button') opslaan

    // Put your page content here!
    // jQuery
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
script.
    function resetform() {
            $("#questiontext").val(""); 
            $("#answertext0").val("");
            $("#correct0" ).prop( "checked", false );
            $("#answertext1").val(""); 
            $("#correct1" ).prop( "checked", false );
            $("#answertext2").val(""); 
            $("#correct2" ).prop( "checked", false );
            $("#answertext3").val(""); 
            $("#correct3" ).prop( "checked", false );
    }
    function savequestion() {
        var question = {}
        var correctanswercount = 0;
        var answercount = 0;
        question.answers = [];
        question.text = $("#questiontext").val();
        for(var i = 0; i < 4; i++) {
            if($("#answertext" + i).val() != "") {
                question.answers.push({"text": $("#answertext" + i).val(), "correct": ($("#correct"+i).is(":checked")?"1":"0")});
                if($("#correct"+i).is(":checked")) correctanswercount++;
                answercount++;
            }
        }
        if(question.text === "") {
            alert("je moet wel even tekst invullen voor de vraag");
        } else if(answercount < 2) {
            alert("er moeten wel minstens 2 antwoordteksten zijn ingevuld");
        } else if(correctanswercount === 0) {
            alert("tenminste 1 van de antwoorden moet aangevinkt zijn als het juiste");
        } else {
            $.ajax({
                url: "/admin/hpadminsavequestion",
                type: "POST",
                data: JSON.stringify(question),
                contentType: "application/json",
                complete: function(data) {
                    resetform();
                }
            }); 
        }
    }
    $(function() {
        // als op nextquestion wordt gedrukt, toon volgende vraag
        $("#savebtn").click(savequestion);

    });